@font-face {
    font-family: "MyFont";
    src: url(/css/sans.woff2) format("truetype");
}

body, html {
    font-family: 'MyFont';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

span.no_wrap {
    white-space: nowrap;
}

/* ICONS */
i.icon {
    font-style: normal;
}

i.icon.crowd::after {
    content: url(../images/icons/icons_crowd.png);
}

i.icon.plan::after {
    content: url(../images/icons/icons_plan.png);
}

i.icon.saber::after {
    content: url(../images/icons/icons_lazer_saber.png);
}

i.icon.brain::after {
    content: url(../images/icons/icons_brain.png);
}

i.icon.book::after {
    content: url(../images/icons/icons_book.png);
}

i.icon.challenge::after {
    content: url(../images/icons/icons_challenge.png);
}

i.icon.msu::after {
    content: url(../images/icons/icons_msu.png);
}

i.icon.phys::after {
    content: url(../images/icons/icons_phys.png);
}

i.icon.grand::after {
    content: url(../images/icons/icons_grand.png);
}

i.icon.teacher::after {
    content: url(../images/icons/icons_teacher.png);
}

i.icon.teacher2::after {
    content: url(../images/icons/icons_teacher2.png);
}

i.icon.teacher3::after {
    content: url(../images/icons/icons_teacher3.png);
}

i.icon.olymp::after {
    content: url(../images/icons/icons_olymp.png);
}

i.icon.school::after {
    content: url(../images/icons/icons_school.png);
}

i.icon.law::after {
    content: url(../images/icons/icons_law.png);
}
/* ICONS */

div.header {
    width: 100%;
    height: 80px;
    background-color: black;
    display: inline-block;
    color: white;
}

table.header_wrapper {
    width: 100%;
}

table.header_wrapper>tbody>tr {
    vertical-align: middle;
}

table.header_wrapper>tbody>tr>td {
    width: 33%;
}

table.header_wrapper>tbody>tr>td:nth-child(2) {
    text-align: center;
}

table.header_wrapper>tbody>tr>td:nth-child(1) {
    text-align: left;
}

table.header_wrapper>tbody>tr>td:nth-child(3) {
    text-align: center;
}

table.header_wrapper img.header-logo-img {
    margin-left: 50px;
    height: 70px;
}

span.js-exit {
    cursor: pointer;
}

hr.header-delimiter {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin: 15px 10px;
}

div.header_line_wrap {
    width: 100%;
    text-align: center;
}

p.header_line {
    font-size: 30px;
}

table.content {
    width: 100%;
    height: 400px;
    padding: 0 10px 0 10px;
}

table.content>tbody>tr>td {
    vertical-align: top;
    padding: 3px;
}

table.content>tbody>tr>td:nth-child(1) {
    width: 20%;
    padding: 3px;
    text-align: center;
}

table.content>tbody>tr>td:nth-child(2) {
    width: 50%;
    padding: 3px;
}

table.content>tbody>tr>td:nth-child(3) {
    width: 30%;
}

div.quotes_img_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.points_wrap {
    text-align: center;
    width: 100%;
}

img.content-photo {
    width: 80%;
}

.before_points {
    width: 100%;
    text-align: center;
}

div.point {
    width: 25%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    padding: 15px;
    margin: 15px 5px;
}

div.point:hover {
    cursor: pointer;
}

div.sign_form_wrapper {
    padding: 5px;
    height: 100px;
}

div.nav_wrap {
    white-space: nowrap;
    width:100%;
    text-align: center;
}

div.sign_form_wrapper div.nav {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

div.sign_form_wrapper div.nav:hover {
    color: white;
    background-color: black;
}

table.sign_form_table {
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

div.sign_wrapper {
    margin-top: 10px;
}

div.signin {
    display: none;
}

.sign_form_table>tbody>tr input,
.sign_form_table>tbody>tr textarea,
.sign_form_table>tbody>tr button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    background-color: white;
    outline: none;
    font-size: 20px;
}

.sign_form_table>tbody>tr button {
    cursor: pointer;
}

table.sign_form_table>tbody>tr button:hover {
    background-color: black;
    color: white;
}

div.footer {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 25px;
}

/* common classes */
.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.center {
    text-align: center;
}

